@import "../../themes/less/variables";
@import "../../themes/less/settings";
@import "../mixins";

body.onboarding{
    background-color: @color-black;
    .onboarding-header{
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
        width: 100%;
        .onboarding-header__logo{
            display: none;
            height: 30px;
            margin: 0 auto;
            &.active{
                display: block;
            }
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
        .btn-lms-see-more{
            align-items: center;
            background-color: transparent;
            border: none;
            color: @color-white;
            display: none;
            font-family: RobotoMedium;
            font-size: 16px;
            gap: 8px;
            height: auto;
            justify-content: center;
            left: 24px;
            line-height: 18px;
            padding: 8px;
            position: absolute;
            top: 24px;
            &.btn-lms-close{
                left: auto;
                right: 24px;
            }
            &.active{
                display: flex;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 0.1);
            }
            &:disabled{
                opacity: 0.4;
                pointer-events: none;
            }
            i.fa{
                color: @color-white;
                font-size: 12px;
                opacity: 1;
            }
        }
        .onboarding-header__stepper{
            align-items: center;
            display: none;
            flex-direction: row;
            gap: 16px;
            justify-content: space-between;
            padding: 24px;
            max-width: 600px;
            width: 100%;
            &.active{
                display: flex;
            }
            .onboarding-header__stepper--step{
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 100px;
                height: 4px;
                width: 100%;
                &.active{
                    background-color: @color-white;
                }
            }
        }
    }
    .onboarding-content{
        align-items: center;
        display: flex;
        height: calc(100% - 80px);
        justify-content: center;
        width: 100%;
        .onboarding-content__box{
            display: none;
            flex-direction: column;
            gap: 32px;
            height: auto;
            max-width: 600px;
            padding: 24px 40px 60px;
            width: 100%;
            &.active{
                display: flex;
            }
            .onboarding-content__box--img{
                max-width: 554px;
                width: auto;
                img{
                    height: 100%;
                    object-fit: cover;
                    width: 100%;  
                }
            }
            .onboarding-content__box--texts{
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
            h1{
                color: @color-white;
                font-family: RobotoBold;
                font-size: 64px;
                line-height: 76px;
                margin: 0;
            }
            h3{
                color: @color-white;
                font-family: RobotoBold;
                font-size: 36px;
                line-height: 48px;
                margin: 0;
            }
            h5{
                color: @color-lightergrey;
                font-family: RobotoRegular;
                font-size: 20px;
                line-height: 28px;
                margin: 0;
            }
            p{
                color: @color-lightergrey;
                font-family: RobotoRegular;
                font-size: 16px;
                line-height: 24px;
                margin: 0;   
            }
            .btn-lms{
                align-items: center;
                background-color: @color-white;
                border: none;
                color: @color-darkgrey;
                display: flex;
                font-family: RobotoMedium;
                font-size: 16px;
                height: 48px;
                justify-content: center;
                line-height: 18px;
                padding: 12px 16px;
                text-transform: uppercase;
                width: 100%;
                &:hover{
                    background-color: @color-lightergrey;
                }
                &:disabled{
                    background-color: rgba(255, 255, 255, 0.4);
                    pointer-events: none;
                }
            }
            .bootstrap-select{
                &.LMS{
                    margin: 0;
                   .btn.btn-default.dropdown-toggle{
                        background-color: rgba(255, 255, 255, 0.1) !important;
                        border: none;
                        border-radius: 4px;
                        color: @color-white;
                        height: 48px;
                        margin: 0;
                        padding: 0 16px;
                        .filter-option{
                           color: @color-white;
                           font-family: RobotoRegular;
                           font-size: 16px;
                           line-height: 24px;
                        }
                        .caret{
                            border-top: 6px dashed;
                            border-right: 6px solid transparent;
                            border-left: 6px solid transparent;
                            right: 16px;
                        }
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                        &:focus{
                            outline: none !important;
                        }
                   }
                   .dropdown-menu{
                        background-color: #1A1A1A;
                        li{
                            a{
                                color: @color-white;
                                font-family: RobotoRegular;
                                font-size: 16px;
                                line-height: 24px;
                                &:hover{
                                    background-color: rgba(255, 255, 255, 0.2);
                                }
                                &:focus{
                                    background: none;
                                }
                            }
                        }
                   }
                }
            }
            .input-group{
                &.date{
                    &.dateLMS{
                        .form-control{
                            background-color: rgba(255, 255, 255, 0.1);
                            border: none;
                            border-radius: 4px 0 0 4px;
                            color: @color-white;
                            font-family: RobotoRegular;
                            font-size: 16px;
                            height: 48px;
                            line-height: 24px;
                            padding: 0 16px;
                        }
                        .input-group-addon{
                            background-color: rgba(255, 255, 255, 0.1);
                            border: none;
                            border-radius: 0 4px 4px 0;
                        }
                    }
                }
            }
            .calendarLMS {
                position: relative;
                width: 100%;
                .calendar {
                    background-color: #1A1A1A;
                    border: none;
                    border-radius: 4px;
                    color: @color-white;
                    font-family: RobotoRegular;
                    font-size: 16px;
                    height: 48px;
                    line-height: 24px;
                    padding: 0 16px;
                    width: 100%;
                    &:focus-visible{
                        outline: none;
                    }
                }
                .icon {
                    font-size: 20px;
                    position: absolute;
                    right: 12px;
                    top: 12px;
                }
            }
            .onboarding-content__box--checkboxes{
                align-items: center;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .checkboxes-box{
                    width: 50%;
                    .checkbox{
                        &.checkbox-lms{
                            input[type="checkbox"]{
                                + label{
                                    color: @color-grey;
                                    font-family: RobotoRegular;
                                    font-size: 16px;
                                    line-height: 24px;
                                    padding-left: 8px;
                                    &:before{
                                        background-color: @color-black;
                                        border: 2px solid @color-darkgrey;
                                        height: 18px;
                                        top: 2px;
                                        width: 18px;
                                    }
                                }
                                &:checked{
                                    + label{
                                        &:before{
                                            background-color: @color-white;
                                            border: 2px solid @color-white;
                                        }
                                        &:after{
                                            color: @color-black;
                                            height: 18px;
                                            top: -1px;
                                            width: 18px;
                                        }
                                    }
                                }
                            }
                        }
                        + .checkbox{
                            margin-top: 10px;
                        }
                    }
                }
            }
            .onboarding-content__box--input{
                width: 100%;
                .form-control{
                    &.inputLMS{
                        background-color: rgba(255, 255, 255, 0.1);
                        border: none;
                        border-radius: 4px;
                        color: @color-white;
                        font-family: RobotoRegular;
                        font-size: 16px;
                        height: 48px;
                        line-height: 24px;
                        margin: 0;
                        padding: 0 16px;
                        &:focus{
                            border: 1px solid rgba(255, 255, 255, 0.5);
                            box-shadow: none;
                        }
                    }
                }
            }
            .onboarding-content__box--buttons{
                display: flex;
                flex-direction: column;
                gap: 32px;
            }
        }
    }
    .ui-datepicker {
        &.ui-widget.ui-widget-content{
            background-color: #1A1A1A;
            border: 1px solid @color-black;
            border-radius: 4px;
            .ui-datepicker-header {
                background-color: #1A1A1A;
                border: none;
                height: 50px;
                line-height: 50px;
                color: @color-white;
                margin-bottom: 10px;
                .ui-datepicker-prev,
                .ui-datepicker-next {
                    width: 20px;
                    height: 20px;
                    text-indent: 9999px;
                    border-radius: 100%;
                    cursor: pointer;
                    overflow: hidden;
                    margin-top: 12px;
                    &.ui-state-hover{
                        background: none;
                        border: none;
                    }
                }
                .ui-datepicker-prev:after,
                .ui-datepicker-next:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-left: 2px solid @color-white;
                    border-bottom: 2px solid @color-white;
                }
                .ui-datepicker-prev:hover,
                .ui-datepicker-next:hover,
                .ui-datepicker-prev:hover:after,
                .ui-datepicker-next:hover:after {
                    border-color: @color-darkgrey;
                }
                .ui-datepicker-prev {
                    float: left;
                    margin-left: 12px;
                    &:after {
                        transform: rotate(45deg);
                        margin: -43px 0px 0px 8px;
                    }
                }
                .ui-datepicker-next {
                    float: right;
                    margin-right: 12px;
                    &:after {
                        transform: rotate(-135deg);
                        margin: -43px 0px 0px 6px;
                    }
                }
                .ui-datepicker-title{
                    font-family: RobotoBold;
                    font-size: 20px;
                    font-weight: normal;
                    text-align: center;
                }
            }
            .ui-datepicker-calendar{
                text-align: center;
                width: 100%;
                thead{
                    tr{
                        th{
                            text-align: center;
                            span{
                                color: @color-white;
                                display: block;
                                font-family: RobotoRegular;
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 24px;
                                margin-bottom: 5px;
                                width: 40px;
                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            &.ui-datepicker-today{
                                .ui-state-highlight{
                                    background: rgba(255, 255, 255, 0.2);
                                    border: none;
                                    border-radius: 50px;
                                    color: @color-white;
                                }
                            }
                            .ui-state-default{
                                background-color: #1A1A1A;
                                border: none;
                                color: @color-white;
                                display: block;
                                font-size: 16px;
                                line-height: 40px;
                                text-decoration: none;
                                &.ui-state-active{
                                    background: @color-white;
                                    border: none;
                                    border-radius: 50px;
                                    color: #1A1A1A;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    body.onboarding{
        .onboarding-header{
            align-items: flex-start;
            flex-direction: column;
            gap: 8px;
            .onboarding-header__stepper{
                margin-top: 80px;
            }
        }
        .onboarding-content{
            .onboarding-content__box{
                padding: 24px;
                h1{
                    font-size: 28px;
                    line-height: 36px;
                }
                h3{
                    font-size: 20px;
                    line-height: 28px;
                }
                h5{
                    font-size: 16px;
                    line-height: 20px;
                }
                .onboarding-content__box--checkboxes{
                    flex-direction: column;
                    .checkboxes-box{
                        width: 100%;
                    }
                } 
            }
        }
    }
}



	